*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
}
@font-face {
    font-family: Joanne regular;
    src: url('../font/JoanneTrial/Otf/Joanne-Regular\ Trial.otf') format('truetype');
}

@font-face {
    font-family: Joanne ital;
    src: url('../font/JoanneTrial/Otf/Joanne-Italic\ Trial.otf') format('truetype');
}

*{
    font-family: Joanne regular;
}

#mce-EMAIL, .mc-field-group{
    width: 100%!important;
}
#mc-embedded-subscribe{
    margin: 0 0 0 15px !important;
}

#mc_embed_signup {
    background: white;
    
    clear: left;
    font-family: Joanne regular;
    width: 600px;
    border-radius: 3px;
    z-index:4;
    h2{
        font-size: 1rem!important;
    }
}
.siteHeader{
    position: fixed;
    // opacity: 0;
    // transition: opacity 0.3s ease; 
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    background: transparent;
   
    top: 0;
    z-index: 2;

    a{
        color: white;
        margin: 02rem 15px 0 1.5rem;
        
    }

    i{
        font-size: 40px;
    }
}
.titre{
    
    width: 100%;
    text-align: center;
    overflow: hidden;
    position:relative;
    z-index: 3;
    h1{
        color: white;
        font-size: 70px;
        width: 100%;
        white-space: nowrap;
    }
    p{
        font-size: 1rem;
        font-family: Joanne regular;
        color: white;
        width: 100%;
        overflow: hidden;
        animation: text 0.8s ease;


    }
    // -webkit-text-stroke: 2px #fff;
    // text-stroke: 2px #fff;
    // transform:rotate(90deg);
    
   
 
}
.nlForm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

#popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
.leChalet{
    display: flex;
    justify-content: center;
    align-items: center;
    
    a{
        margin-top: 50px;
        position: relative;
        font-family: Joanne regular;
        color: rgb(0, 0, 0);
        text-align: center;
        width: 150px;
        padding: 5px;
        background-color: white;
        border: 3px solid white;
        border-radius: 3px;
        z-index:3;
        transition: 0.5s ease;
    }
    
}
.clear{
    display: flex!important;
    justify-content: center!important;
    margin-bottom:5px!important;
}
.news:hover{
    background-color: transparent;
    color:white;

}
.leChalet::before{
    content:'';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1;

}
#mce-success-response{
    text-align: center;
    margin: 2px;
    padding: 0px!important;
    
}
@media screen and (max-width : 750px){
    .titre{
        h1{
            font-size: 60px;
        }
    }
}
@media screen and (max-width : 600px){
    .titre{
        h1{
            font-size: 50px;
        }
        
    }
    .siteHeader i {
        font-size: 40px;
    }
}
@media screen and (max-width : 450px){
    .titre{
        h1{
            font-size: 35px;
        }
        
        
    }
}











.section{
    width: 100vw;
    height: 100vh;
    position:relative;
    display: flex;
    flex-direction: column;
    
    
   
  
    video{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    img{
        position: absolute;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: center;
    }
    

    // p{
    //     color: white;
    //     position:absolute;
    //     z-index:2;
    //     font-family: Joanne;
    //     font-size: 30px;
    //     max-width: 70ch;
        
    // }
    
     
        
    h2{
        font-size: 90px;
        // color:rgba(0, 0, 0, 0);
        color: white;
        position: absolute;
        z-index: 2;
    
    }
    
}
.histoire{
    background-color: #f4f4f4;
    height: auto;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 40px;
    h2{
        color: black;   
        position: absolute;
        right: -170px;
        top: 260px;
        transform: rotate(90deg);
        font-size: 150px
    }
    p{
        position: relative;
        color: black;
        width:40vw;
        left: 10px;
        top:50px;
        
    }
}

.recommandationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;

}
.recommandation{
    display: flex;
    justify-content: space-around;
    // align-items: center;
    align-content: flex-start;
    flex-wrap:  wrap;
    h3, p{
        color: black;
        position :static;
        
    }
    h3{
        text-decoration: underline;
    }
    p{
        font-size: medium;
    }
    .recommandation-section{
        margin: 10px;
        width: 150px;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
       
    }
}



// .cursor {
//     width: 150px;
//     height: 150px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
    
//     border: 2px dotted rgb(252, 252, 252);
//     border-radius: 50%;
//     position: absolute;
//     transform: translate(-50%, -50%);
//     pointer-events: none;
//     transition: all 0.3s ease;
//     transition-property: background, transform;
//     transform-origin: 100% 100%;
//     z-index: 2;
//     a{
//         text-align: center;
//         text-decoration: none;
//         color:white;
//         font-size: 15px

//     };
//   }


