*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
}
@font-face {
    font-family: Alte Haas Grotesk;
    src: url('../font/AlteHaasGroteskBold.ttf') format('truetype');
}

*{
    font-family: Alte Haas Grotesk;
}
.siteHeader{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: rgb(193,189,189);
    background: linear-gradient(0deg, rgba(193,189,189,0) 38%, rgba(135,135,135,0.20630258939513302) 59%, rgba(47,47,47,0.710504270067402) 100%); 
    position: fixed;
    top: 0;
    z-index: 2;

    a{
        color: white;
        margin: 30px;
        
    }

    i{
        font-size: xx-large;
    }
}
.section{
    width: 100vw;
    height: 100vh;
    position:relative;
    
   
  
    video{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    img{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: center;
    }
    .titre{
        bottom: 61px;
        left:20px;
        width: 70vw;
        position: absolute;
        color: white;
        text-shadow: 1px;
        z-index: 1;
        font-size: 40px;
        
    }

    p{
        color: white;
        position:absolute;
        z-index:2;
        font-size: 20px;
    }
    
     
        
    h2{
        font-size: 90px;
        // color:rgba(0, 0, 0, 0);
        color: white;
        position: absolute;
        z-index: 2;
    
    }
    
}
.histoire{
    background-color: #f4f4f4;
    height: auto;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 40px;
    h2{
        color: black;   
        position: absolute;
        right: -170px;
        top: 260px;
        transform: rotate(90deg);
        font-size: 150px
    }
    p{
        position: relative;
        color: black;
        width:40vw;
        left: 10px;
        top:50px;
        
    }
}
.implantation{
       
   h2{
    top:5px;
    right: 30px;
   }
   p{
    left: 40px;
    bottom: 40px;
    width: 60vw;
   }
     
}

.accessibilite{
        
    h2{
        top:5px;
        right: 30px;
    }
    p{
        left: 40px;
        bottom: 40px;
        width: 60vw;
    }
        
}

.chambre{
        
    h2{
        top:5px;
        right: 30px;
    }
    p{
        left: 40px;
        bottom: 40px;
        width: 60vw;
    }
        
}

.sdb{
        
    h2{
        top:5px;
        right: 30px;
    }
    p{
        left: 40px;
        bottom: 40px;
        width: 60vw;
    }
        
}

.jardin{
        
    h2{
        top:5px;
        right: 30px;
    }
    p{
        left: 40px;
        bottom: 40px;
        width: 60vw;
    }
        
}
.privatisation{
    h2{
        top:5px;
        right: 30px;
    }
    p{
        left: 40px;
        bottom: 40px;
        width: 60vw;
    } 
}
.proximite{
    h2{
        top:5px;
        right: 30px;
    }
    p{
        left: 40px;
        bottom: 40px;
    }    
}
.recommandationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;

}
.recommandation{
    display: flex;
    justify-content: space-around;
    // align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    h3, p{
        color: black;
        position :static;
        
    }
    h3{
        text-decoration: underline;
    }
    p{
        font-size: medium;
    }
    .recommandation-section{
        margin: 10px;
        width: 150px;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
       
    }
}
