@import './variable.scss';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
}
html{
    scroll-snap-type: y mandatory;
}

@font-face {
    font-family: Joanne regular;
    src: url('../font/JoanneTrial/Otf/Joanne-Regular\ Trial.otf') format('truetype');
}

@font-face {
    font-family: Joanne ital;
    src: url('../font/JoanneTrial/Otf/Joanne-Italic\ Trial.otf') format('truetype');
}

*{
    font-family: Joanne regular;
}
.scroll-snap{
    scroll-snap-align: start;
}
footer{
    scroll-snap-align: end;

}
// LOADER
.loaderContainer{
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left:0;
    z-index: 5;
}

.loaderContainer {
    transition: opacity 1.5s ease-out;
  }
.loaderContainer.fade-out {
    opacity: 0;
  }

// NEWSLETTER
#mce-EMAIL, .mc-field-group{
    width: 100%!important;
}
#mc-embedded-subscribe{
    margin: 0 0 0 15px !important;
}

#mc_embed_signup {
    background: white;
    clear: left;
    font-family: Joanne regular;
    width: 600px;
    max-width: 90%;
    border-radius: 3px;
    z-index:4;
    h2{
        font-size: 1rem!important;
 
    }
}

#mc_embed_signup_scroll{
    position:relative;
    padding: 10px;
}

.nlForm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

#popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}


#closeBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    text-align: center;
    vertical-align: center;
    top: -20px;
    right: -20px;
    font-size: 24px;
    cursor: pointer;
}

.clear{
    display: flex!important;
    justify-content: center!important;
    margin-bottom:5px!important;
}

#mce-success-response{
    text-align: center;
    margin: 2px;
    padding: 0px!important;
    
}
// :::::::::::::::::::::::::::::::::::

.siteHeader{
    position: fixed;
    // opacity: 0;
    // transition: opacity 0.3s ease; 
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    top: 0;
    z-index: 2;
    padding: 20px;
    h1{
        color: white;
    }

    .siteHeader-action{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    a{
        color: white;
        width: 40px;
        height: 40px;
        margin: 10px 10px;
        
    }

    
    img{
        width: 40px;
        height: 40px;
    }
    .cta-reservez{
        width: 165px;
    }
    button{
        text-decoration: none;
        border: 2px solid white;
        background-color: #ffffff00;
        font-size: $subTitleSize;  
        padding: 10px;
        color: white;
        border-radius: 2px;
        cursor: pointer;
        transition: ease-in-out .2s;
        white-space: nowrap;

    }
    button:hover{
        border: 2px solid rgb(178, 178, 178);
        color: rgb(178, 178, 178);
    }
    
}

.news:hover{
    background-color: white;
    color:black;

}



.section{
    width: 100vw;
    height: 100vh;
    position:relative;
    
   

    img{
        position: absolute;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: center;
        
    }
    
    &-content{
        position: absolute;
        width: 100vw;
        height: 100vh;
        color: white;
        font-size: $titleSize;
    }
    
}

.sectionVoile::before{
    content:'';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;

}
.leChalet-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    p{
        font-size: $bigTitleSize;
        z-index: 2;
        padding: 20px;
        width: 80%;
    }
}

.histoire{
    // background-color: #f4f4f4;
    width: 100vw;
    position:static;
    height: auto;
    
    img{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .histoire-section{
        height: auto;
        position: static;
        display: flex;
        padding: 50px;
        
    }
    h2{
        flex-grow: 1;
        color: black;
        font-size: 150px;
        writing-mode: sideways-lr; /* Écriture verticale de bas en haut */
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }
    .histoire-paragraphe{
        flex-grow: 1;
        color: black;
        width:65vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: $titleSize;
        
    }
    
   
}
.implantation{
    &-content{
        z-index:2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        p{
            width: 65vw;
            z-index:2;
            padding: 20px;
        }
    }
}
.chambre{
    &-content{
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        p{
            width: 100vw;
            padding: 20px;
        }
    }
}
.sdb{
    &-content{
        z-index:2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        p{
            width: 100vw;
            z-index:2;
            padding: 20px;
            text-align: right;
        }
    }
}
.jardin{
    &-content{
        z-index:2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        p{
            width: 100vw;
            z-index:2;
            padding: 20px;
        }
    }
}
.proximite{
    &-content{
        z-index:2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    &-info{
        padding: 20px;
    }
}
.privatisation{
    &-content{
        z-index:2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    &-info{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button{
            border: 2px solid white;
            background-color: #ffffff00;
            font-size: $titleSize;
            padding: 10px;
            color: white;
            border-radius: 2px;
            cursor: pointer;
            transition: ease-in-out .2s;

        }
        button:hover{
            border: 2px solid rgb(178, 178, 178);
            color: rgb(178, 178, 178);
        }
        a{
            cursor: pointer;
            margin-right: 20px;
        }
        p{
            width: 45vw;
        }
    }
}

.recommandationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;

}
.recommandation{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap;
    h3, p{
        color: black;
        position :static;
        
    }
    h3{
        text-decoration: underline;
    }
    p{
        font-size: medium;
    }
    .recommandation-section{
        margin: 10px;
        width: 170px;
        align-self: flex-start;
        display: flex;
        flex-direction: column;   
    }
}

.decoupage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    &-section{
        align-self: flex-start;
    }
}
footer{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    .footer-news{

    }
    .footer-news:hover{
        cursor: pointer;
    }
   
}
@media screen and (max-width : 750px){
    .titre{
        h1{
            font-size: 60px;
        }
        p{
            font-size:1.2rem;
        }
    }
}

@media screen and (max-width : 600px){
    .titre{
        h1{
            font-size: 45px;
        }
        
    }
    .siteHeader i {
        font-size: 40px;
    }
}

@media screen and (max-width : 450px){
    .titre{
        
        h1{
            font-size: 30px;
            margin-bottom: 3px;
        }
        p{
            font-size: 0.8rem;
        }
    }
    .siteHeader{
        justify-content: flex-start;
        i{
            font-size: 25px;
            margin-left: 5px;
            margin-top: 5px;
        }
        &-mail{
            i{
            margin-left: -20px;

            }
        }
    }
}



